[gui]
	recentrepo = C:/Users/Пользователь/homework
	recentrepo = C:/Users/Пользователь/Downloads/bicw_6
	recentrepo = C:/Users/Пользователь/Downloads/neuro-startup
	recentrepo = C:/Users/Пользователь/Downloads/neuro-startup/1.2. Site For Import
[user]
	name = Andree11091990
	mail = hlystov90@mail.ru
	email = hlystov90@mail.ru
[core]
	editor = \"C:\\Users\\Пользователь\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
